<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bike {{bike}}</title>
</head>
<body>
<h2>{{bike}}</h2>
<p>frame: {{bike.frame}}</p>
<p>seat: {{bike.seat}}</p>
<p>tires: {{bike.tire}}</p>
<p>basket: {{bike.has_basket|yesno:"yes,no,unknown" }}</p>
<p>description: {{bike.description}}</p>

{% if available %}
<h3>If you want to order the bike, fill in the form</h3>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Order</button>
</form>
{% else %}
<p><b>Unfortunately, this bike is currently not available.</b></p>
{% endif %}
</body>
</html>